/* BANNER IMAGE */
#bannerimage {
	margin:0;
	padding:0;
	height: 800px;
	width: 100%;
	background-image: url('imgs/banner.png');
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.65;
	vertical-align: top;
}

#header {
	position:absolute;
	top:0px;
}

html, body {
	margin:0;
	padding:0;
}

/* TITLE STUFF */
.Name {
	font-size:64px;
	color: #CB4B16;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	font-family: 'Open Sans';
}

.Quote {
	font-size:40px;
	color: #C76F3B;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-family: 'Open Sans';
}

.Author {
	text-indent: 20.75%;
	font-size:40px;
	color: #C76F3B;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-family: 'Open Sans';
}

body {
	background-color: #0D021E;
}
h1 {
	color: #477786;
}
p {
	color: #477786;
    margin-top: 0px ;
    margin-bottom: 0px ; 
}

a {
	color: #477786;
}

/* NAVIGATION MENU */
.tab a:link, .tab a:visited {
	font-size:32px;
	border-color: #003C49;
	border-size: 2px;
	font-family: 'Open Sans';
}

.current a, .current a:visited{
	color: #9B6BE0;
}

.current:hover, .current:hover a {
	background-color: #4B76E7 !important;
	color: #E45ED9;
	-moz-transition: .2s linear;
	-webkit-transition: .2s linear;
	-o-transition: .2s linear;
}

.not_current a, .not_current a:visited{
	color: #586693;
}

.not_current:hover, .not_current:hover a {
	background-color: #4B76E7 !important;
	color: #E45ED9;
	-moz-transition: .2s linear;
	-webkit-transition: .2s linear;
	-o-transition: .2s linear;
}