/* PAGE BORDERS */
html, body {
	margin:  0;
	padding: 0;
}

/* BACKGROUND */
body {
	background-color: #0D021E;
}

/* BANNER IMAGE */
#bannerimage {
	width:             100%;
	background-image:  url('imgs/banner.png');
	background-size:   cover;
	background-repeat: no-repeat;
	vertical-align:    top;
	
	opacity:             1;
	height:              0;
    padding-top:         66.64%;
	background-position: 40% 0%; 

	-webkit-mask-image: linear-gradient(rgba(0,0,0,1) 0%, 
						rgba(0,0,0,1) 40%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.15) 55%, 
						rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.01) 95%, rgba(0,0,0,0) 100%);
	mask-image:         linear-gradient(rgba(0,0,0,1) 0%, 
	                    rgba(0,0,0,1) 40%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.15) 55%, 
						rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.01) 95%, rgba(0,0,0,0) 100%);
}

/* TITLE STUFF */
#header {
	position: absolute;
	top:      -40px;
}

.Quote {
	font-size:                 40px;
	color:                     #C76F3B;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-family:               'Open Sans';
}

.Author {
	position:                  relative;
	top:                       -40px;
	text-indent:               65%;
	font-size:                 40px;
	color:                     #C76F3B;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-family:               'Open Sans';
}

/* NAVIGATION MENU */
.tab {
	position: absolute;
	top:      620px;
}
.tab a:link, .tab a:visited {
	font-size:    32px;
	border-color: #003C49;
	border-size:  2px;
	font-family:  'Open Sans';
}

.current a, .current a:visited{
	color: #9B6BE0;
}

.current:hover, .current:hover a {
	background-color:   #4B76E7 !important;
	color:              #E45ED9;
	-moz-transition:    .2s linear;
	-webkit-transition: .2s linear;
	-o-transition:      .2s linear;
}

.not_current a, .not_current a:visited{
	color: #586693;
}

.not_current:hover, .not_current:hover a {
	background-color:   #4B76E7 !important;
	color:              #E45ED9;
	-moz-transition:    .2s linear;
	-webkit-transition: .2s linear;
	-o-transition:      .2s linear;
}

/* CONTENT DIV */
#content_div {
	position: absolute;
	top:      715px;
	width:    100%;
	display:  table;
}

/* FADE IN CONTENT DIV */
.show {
  -webkit-animation:   fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* FADE OUT CONTENT DIV */
.hide {
  -webkit-animation:   fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 1s; /* Firefox < 16 */
        -ms-animation: fadeout 1s; /* Internet Explorer */
         -o-animation: fadeout 1s; /* Opera < 12.1 */
            animation: fadeout 1s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}