/* CONTENT */
#subtitle {
	font-size:32px;
	color: #CB4B16;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	font-family: 'Open Sans';
}

#subcontent {
	font-size:18px;
	color: #CB4B16;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	font-family: 'Open Sans';
}