/* LINKS */
a, a:visited {
	color: #7E6693;
}

/* CONTENT */
#subtitle {
	font-size:                 48px;
	color:                     #97f4ff;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	font-family:               'Open Sans';
	text-decoration:           underline;
	text-decoration-color:     #97f4ff;
	width:       98%;
	margin:      0 auto;
}

#subcontent {
	font-size:   18px;
	color:       #FCDDA7;
	font-family: 'Open Sans';
	width:       98%;
	margin:      0 auto;
}

.subTable {
	color:       #ff748c;
	font-size:   18px;
	font-family: 'Open Sans';
	left:        30vw;
	position:    relative;
}